version: '3.9'
services:
  backend:
    build:
      context: backend/
      dockerfile: Dockerfile
      env_file:
        - .env
    container_name: backend
    ports:
      - 8000:8000
    volumes:
      - ./backend:/app
    depends_on:
      - db
    command: python manage.py runserver
  
  frontend:
    build:
      context: frontend/
      dockerfile: Dockerfile
    container_name: frontend
    ports:
      - 3000:3000
    volumes:
      - ./frontend:/app
    depends_on:
      - backend

  db:
    image: postgres
    container_name: db
    ports:
      - 5432:5432
    environment:
      POSTGRES_PASSWORD: postgres
      POSTGRES_USER: postgres
      POSTGRES_DB: postgres