{% extends "layout.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% load crispy_forms_filters %}
{% load crispy_forms_field %}
{% block heading %}
    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">
        <a>Main view</a>
    </h1>

{% endblock %}
{% block content %}
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Index View</h6>
        </div>
        <div class="card-body">
            Example
        </div>
    </div>
{% endblock %}

{% block extra_css %}
    <link href="{% static 'build/vendor/chosen-js/chosen.min.css' %}" rel="stylesheet">
    <link href="{% static 'build/vendor/jquery-datetimepicker/jquery.datetimepicker.min.css' %}" rel="stylesheet">
    <link href="{% static 'build/vendor/jquery-ui-dist/jquery-ui.min.css' %}" rel="stylesheet">
{% endblock %}

{% block extra_js %}
    <script src="{% static 'build/vendor/chosen-js/chosen.jquery.min.js' %}"></script>
    <script src="{% static 'build/vendor/moment/moment.js' %}"></script>
    <script src="{% static 'build/vendor/jquery-datetimepicker/jquery.datetimepicker.full.min.js' %}"></script>
    <script src="{% static 'build/vendor/jquery-mask-plugin/jquery.mask.min.js' %}"></script>
    <script src="{% static 'build/vendor/jquery-formset/jquery.formset.js' %}"></script>
    <script src="{% static 'build/vendor/jquery-ui-dist/jquery-ui.min.js' %}"></script>


{% endblock %}