{% load static %}
<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="{% url 'dashboard' %}">
        <div class="sidebar-brand-icon">
            <i class="fas fa-store"></i>
        </div>
        <div class="sidebar-brand-text mx-3"><!--SB Admin <sup>2</sup>--> Sistema OBEL</div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    {% if user.is_staff %}
      <!-- Nav Item - Dashboard -->
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'admin:index' %}" target="_blank">
          <i class="fas fa-fw fa-cog "></i>
          <span><!--Dashboard--> Admin del Sistema</span></a>
      </li>

      <!-- Divider -->
      <hr class="sidebar-divider">
    {% endif %}

    <!-- Nav Item - Dashboard -->
    <li class="nav-item active">
        <a class="nav-link" href="{% url 'dashboard' %}">
            <i class="fa fa-house-user"></i>
            <span><!--Dashboard--> Inicio</span></a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
        <!--Interface---> Módulos
    </div>

    <!-- Nav Item - Pages Collapse Menu -->

    <!-- Inventario -->
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseClinic"
           aria-expanded="true" aria-controls="collapseClinic">
            <i class="fa fa-users"></i>
            <span><!--Components--> Inventario</span>
        </a>
        <div id="collapseClinic" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header"><!---Custom Components:--> Inventario</h6>
                <a class="collapse-item" href="{% url 'inventory_list' %}"><!---Buttons---> Listado Inventario</a>
                <a class="collapse-item" href="{% url 'item_creation' %}"><!---Buttons---> Agregar Items</a>
                <!--<a class="collapse-item" href="cards.html">Cards</a>-->
            </div>
        </div>
    </li>

{#    <!-- Scheduling -->#}
{#    <li class="nav-item">#}
{#      <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseAppointment"#}
{#         aria-expanded="true" aria-controls="collapseAppointment">#}
{#        <i class="fa fa-calendar"></i>#}
{#        <span><!--Components--> Turnos</span>#}
{#      </a>#}
{#      <div id="collapseAppointment" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">#}
{#        <div class="bg-white py-2 collapse-inner rounded">#}
{#          <h6 class="collapse-header"><!---Custom Components:--> Turnos</h6>#}
{#          <a class="collapse-item" href="{% url 'appointment.calendar' %}"><!---Buttons--->Calendario de Turnos</a>#}
{#          <a class="collapse-item" href="{% url 'appointment.list' %}"><!---Buttons--->Listado de Turnos</a>#}
{#          <a class="collapse-item" href="{% url 'appointment.list_appointments_of_the_day' %}"><!---Buttons--->Listado de Turnos del Día</a>#}
{#          <!--<a class="collapse-item" href="cards.html">Cards</a>-->#}
{#        </div>#}
{#      </div>#}
{#    </li>#}
{##}
{#    <!-- Consultation -->#}
{#    <li class="nav-item">#}
{#      <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseConsultation"#}
{#         aria-expanded="true" aria-controls="collapseConsultation">#}
{#        <i class="fa fa-notes-medical"></i>#}
{#        <span><!--Components--> Estudios</span>#}
{#      </a>#}
{#      <div id="collapseConsultation" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">#}
{#        <div class="bg-white py-2 collapse-inner rounded">#}
{#          <h6 class="collapse-header"><!---Custom Components:--> Ficha de Entrada</h6>#}
{#          <a class="collapse-item" href="{% url 'consultation_entry_sheet.list' %}"><!---Buttons---> Fichas de Entrada</a>#}
{#          <a class="collapse-item" href="{% url 'consultation_entry_sheet.create' %}"><!---Buttons---> Crear Ficha de Entrada</a>#}
{#          <h6 class="collapse-header"><!---Custom Components:--> Estudios</h6>#}
{#          <!--<a class="collapse-item" href="{% url 'consultation_sheet.list' %}"> Fichas de Estudios</a> -->#}
{#          <a class="collapse-item" href="{% url 'consultation_sheet.list_unassigned' %}"><!---Buttons---> Estudios sin Asignar </a>#}
{#          <a class="collapse-item" href="{% url 'consultation_sheet.list_undelivered' %}"><!---Buttons---> Estudios sin Entregar </a>#}
{#          <a class="collapse-item" href="{% url 'consultation_sheet.list_unrealized' %}"><!---Buttons---> Estudios sin Realizar </a>#}
{#        </div>#}
{#      </div>#}
{#    </li>#}
{##}
{#  <!-- Reports -->#}
{#  <li class="nav-item">#}
{#    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseReports"#}
{#       aria-expanded="true" aria-controls="collapseReports">#}
{#      <i class="fa fa-chart-line"></i>#}
{#      <span><!--Components--> Reportes</span>#}
{#    </a>#}
{#    <div id="collapseReports" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">#}
{#      <div class="bg-white py-2 collapse-inner rounded">#}
{#        <h6 class="collapse-header"><!---Custom Components:--> Reportes</h6>#}
{#        <a class="collapse-item" href="{% url 'reports.cash_report_list' %}"><!---Buttons---> Caja</a>#}
{#        <a class="collapse-item" href="{% url 'reports.reporting_doctors_report_list' %}"><!---Buttons---> Doctores Informantes</a>#}
{#        <a class="collapse-item" href="{% url 'reports.treating_doctors_report_list' %}"><!---Buttons---> Doctores Tratantes</a>#}
{#        <a class="collapse-item" href="{% url 'reports.insurances_agreements_report_list' %}"><!---Buttons---> Cobro a Seguros</a>#}
{#        <a class="collapse-item" href="{% url 'reports.consultation_sheet_total_report_list' %}"><!---Buttons---> Total Consolidado</a>#}
{##}
{#        <a class="collapse-item" href="{% url 'reports.reports_definition_list' %}"><!---Buttons---> Definición de Reportes</a>#}
{##}
{#      </div>#}
{#    </div>#}
{#  </li>#}

    <!-- Nav Item - Utilities Collapse Menu
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseUtilities"
           aria-expanded="true" aria-controls="collapseUtilities">
            <i class="fas fa-fw fa-wrench"></i>
            <span>Utilities</span>
        </a>
        <div id="collapseUtilities" class="collapse" aria-labelledby="headingUtilities"
             data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Custom Utilities:</h6>
                <a class="collapse-item" href="utilities-color.html">Colors</a>
                <a class="collapse-item" href="utilities-border.html">Borders</a>
                <a class="collapse-item" href="utilities-animation.html">Animations</a>
                <a class="collapse-item" href="utilities-other.html">Other</a>
            </div>
        </div>
    </li>
    -->
    <!-- Divider
    <hr class="sidebar-divider">
    -->
    <!-- Heading
    <div class="sidebar-heading">
        Addons
    </div>
    -->
    <!-- Nav Item - Pages Collapse Menu
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePages"
           aria-expanded="true" aria-controls="collapsePages">
            <i class="fas fa-fw fa-folder"></i>
            <span>Pages</span>
        </a>
        <div id="collapsePages" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Login Screens:</h6>
                <a class="collapse-item" href="login.html">Login</a>
                <a class="collapse-item" href="register.html">Register</a>
                <a class="collapse-item" href="forgot-password.html">Forgot Password</a>
                <div class="collapse-divider"></div>
                <h6 class="collapse-header">Other Pages:</h6>
                <a class="collapse-item" href="404.html">404 Page</a>
                <a class="collapse-item" href="blank.html">Blank Page</a>
            </div>
        </div>
    </li>
    -->

    <!-- Nav Item - Charts
    <li class="nav-item">
        <a class="nav-link" href="charts.html">
            <i class="fas fa-fw fa-chart-area"></i>
            <span>Charts</span></a>
    </li>
    -->
    <!-- Nav Item - Tables
    <li class="nav-item">
        <a class="nav-link" href="tables.html">
            <i class="fas fa-fw fa-table"></i>
            <span>Tables</span></a>
    </li>
    -->
    <!-- Divider
    <hr class="sidebar-divider d-none d-md-block">
    -->
    <!-- Sidebar Toggler (Sidebar) -->
    <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>

    <!-- Sidebar Message
    <div class="sidebar-card">
        <img class="sidebar-card-illustration mb-2" src="{% static 'build/img/undraw_rocket.svg' %}" alt="">
        <p class="text-center mb-2"><strong>SB Admin Pro</strong> is packed with premium features, components, and
            more!</p>
        <a class="btn btn-success btn-sm" href="https://startbootstrap.com/theme/sb-admin-pro">Upgrade to Pro!</a>
    </div>
    -->
</ul>
